header{
  text-align: center;
  height: 6rem;
  line-height: 6rem;
  background-color: #29bde0;
  div{
    display: inline-block;
    vertical-align: middle;
  }
  img{
    width: 100%;
    max-width: 100%;
  }
  .back{
    margin-left: 1.5rem;
    float: left;
  }
  .middle{
    font-size: 3.4rem;
    color: white;
  }
  .help{
    margin-right: 1.5rem;
    float: right;
  }
}
.content{
  padding: 3%;
  .top{
    font-size: 0;
    li{
      display: inline-block;
    }
    .left{
      width: 15%;
      height: 250px;
      font-size: 3.4rem;
      background-color: #fff;
      span{
        display: block;
        margin-top: 5rem;
      }
    }
    .right{
      width: 85%;
      height: 250px;
      vertical-align: top;
      font-size: 2.6rem;
      background-color: #fbfbfb;
      border-left: 1px solid #d9d9d9;;
      .people{}
      .click{
        position: relative;
        bottom: -200px;
        height: 4rem;
        line-height: 4rem;
        display: block;
        color: #29bde0;
        font-size: 2.8rem;
        border-top: 1px solid #d9d9d9;
        img{
          margin-left: 5px;
          width: 4%;
          max-width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 481px) {
  .content .top .left {
    height: 350px;
  }
}
@media screen and (min-width: 481px) {
  .content .top .right {
    height: 350px;
    .click{
      bottom: -302px;
    }
  }
}