*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
@media screen and (max-width: 550px) {
    html {
        font-size: 50%;
    }
}
@media screen and (max-width: 380px) {
    html {
        font-size: 40%;
    }
}
body {
    width: 100%;
    height: 100%;
    font-family: 微软雅黑 serif;
    min-width: 320px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
header{
    height: 3.5rem;
    background-color: #1d7ad9;
}
header ul{
    height: 3.5rem;
    line-height: 3.5rem;
    color: white;
    font-size: 1.2rem;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: white;
}
header ul li span{
    padding: 1.3rem;
}
header ul li span:hover{
    color: black;
    background-color: white;
}
header ul .left{
    margin-left: 15%;
    float:left;
}
header ul .right{
    margin-right: 15%;
    float: right;
}
.content nav{
    height: 7rem;
    font-weight: bold;
    line-height: 7rem;
    padding: 0 15%;
    background-color: #f9f9f9;
}
.content nav ul{
    padding: 2rem 0;
    line-height: 3rem;
    float: right;
}
.content nav ul a{
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
}
.content nav ul a:hover{
    border-radius: 10%;
    color: white;
    background-color: #1d7ad9;
}
.content nav li{
    display: inline-block;
    border-radius: 10%;
    background-color: white;
}
.content .step{
    overflow: hidden;
    color: #cccccc;
    padding: 3rem 0;
    margin-right: 15%;
    font-weight: 700;
}
.content .step ul{
    float: right;
}
.content .step ul li{
    position: relative;
    float: left;
    display: inline-block;
    text-align: center;
    width: 12rem;
    height: 3rem;
    border-top: .5rem solid #ccc;
}
.content .step ul .step1{
    color: #ff7f02;
    border-top: .5rem solid  #ff7f02;
}
.content .step ul .step1 p{
    background-color: #ff7f02;
}
.content .step ul li p{
    position: absolute;
    left: 5rem;
    top: -.9rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: white;
    background-color: #ccc;
    border-radius: 50%;
}
.content .step ul li h4{
    margin: 1rem 0;
}
.content section{
    padding: 0 15%;
}
.content section .head{
    padding-left: 1%;
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 700;
    border-left: .3rem solid #1d7ad9;
}
.content section ul{
    border: 1px solid #f4f4f4;
}
.content section ul .box1{
    height: 3rem;
    line-height: 3rem;
    background-color: #f4f4f4;
}
.content section ul .box1 .box{
    margin: .8rem 1rem;
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 19px;
    height: 15px;
    background-position: -62px -5px;
}
.content section ul .box1 p{
    display: inline-block;
    font-weight: 700;
    vertical-align: top;
    color: #1d7ad9;
    font-size: 1.4rem;
}
.content section ul .box2{
    font-size: 1.6rem;
}

.content section ul .box2 .left{
    padding: 2rem 1rem;
    display: inline-block;
}
.content section ul .box2 .left label{
    margin-right: 3rem;
}
.content section ul .box2 .left label input{
    opacity: 0;
}
input[type=radio] + span{
    position: relative;
    top: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    border: 1px solid #999;
    border-radius: 50%;
    background-color: white;
}
input[type=radio]:checked + span{
    position: relative;
    top: 3px;
    display: inline-block;
    width: 5px;
    height: 5px;
    overflow: hidden;
    border: 6px solid #1d7ad9;
    border-radius: 50%;
    background-color: white;
}
.content section ul .box2 .right{
    padding: 2rem;
    display: inline-block;
    float: right;
}
.content section select{
    padding: .5rem 3rem .5rem 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("images/list.png") no-repeat right;
}
.content section ul .size{
    height: 3rem;
    line-height: 3rem;
    background-color: #f4f4f4;
}
.content section ul .size span{
    margin: .8rem 1rem;
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 22px;
    height: 20px;
    background-position: -30px -5px;
}
.content section ul .size p{
    display: inline-block;
    font-weight: 700;
    vertical-align: top;
    color: #1d7ad9;
    font-size: 1.4rem;
}
.content section ul .size1{
    font-size: 1.6rem;
}
.content section ul .size1 .left{
    display: inline-block;
}
.content section ul .size1 .left form{
    padding: 1.5rem 1rem;
}
.content section ul .size1 .left form label.long{
    margin: 0 2rem;
}
.content section ul .size1 .left .text{
    width: 6rem;
    height: 2rem;
}
.content section ul .size1 .right{
    padding: 4.5rem 2rem;
    display: inline-block;
    float: right;
}
.content section ul .material{
    height: 3rem;
    line-height: 3rem;
    background-color: #f4f4f4;
}
.content section ul .material span{
    margin: .8rem 1rem;
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 20px;
    background-position: -5px -5px;
}
.content section ul .material p{
    display: inline-block;
    font-weight: 700;
    vertical-align: top;
    color: #1d7ad9;
    font-size: 1.4rem;
}
.content section ul .material-1{
    border-bottom: 1px solid #f4f4f4;
    font-size: 1.6rem;
}
.content section ul .material-1 form{
    display: inline-block;
}
.content section ul .material-1 .left{
    padding: 2rem 1rem;
}
.content section ul .material-1 .right{
    padding: 2rem;
    float: right;
}
.content section ul .next{
    text-align: center;
    width: 50%;
    height: 14rem;
    line-height: 14rem;
    margin: 0 auto;
}
.content section ul .next button{
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    border: none;
    border-radius: .5rem .5rem;
    color: white;
    background-color: #e15053;
}
.content .foot{
    margin-top: 5rem;
    padding:3% 15%;
    color: #999;
    font-size: 0;
    background-color: #f9f9f9;
}
.content .foot ul{
    width: 33%;
    font-size: 1rem;
    display: inline-block;
}
.content .foot ul.left{
    font-size: 1.6rem;
}
.content .foot ul.center{
    vertical-align: top;
}
.content .foot ul.center li{
    margin-bottom: 1.5rem;
}
.content .foot ul.center li a{
    text-decoration: none;
    color: #999;
}
.content .foot ul.center li a span{
    margin-right: 1.5rem;
}
.content .foot ul.center li a span:hover{
    color: #1d7ad9;
}
.content .foot ul.right{
    vertical-align: top;
}
.content .foot .right .left{
    display: inline-block;
}
.content .foot .right span{
    display: block;
    margin-bottom: 1rem;
}
.content .foot .right .pic{
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 92px;
    height: 92px;
    background-position: -91px -5px;
}
footer{
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    color: white;
    background-color: #1d7ad9;
}