.banner{
    overflow: hidden;
    position: relative;
    width: 1360px;
    height: 425px;
    margin: 0 auto;
}
.picture{
    position: absolute;
    width: 400%;
    height: 100%;
    animation: one 10s infinite;
    -moz-animation: one 10s infinite;
    -webkit-animation: one 10s infinite;
    -o-animation: one 10s infinite;
}
.picture li{
    float: left;
    width: 1360px;
    height: 425px;
}
.banner .picture{
    -webkit-animation-name: one;
}
@keyframes one {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 0px;
        left: -1360px;
    }
    50% {
        top: 0px;
        left: 2720px;
    }
    75% {
        top: 0px;
        left: -4080px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}