*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Microsoft YaHei, serif;
}
img{
    max-width: 100%;
}
@media screen and (max-width: 1220px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 992px) {
    html {
        font-size: 52.5%;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 42.5%;
    }
}
body{
    overflow-x: hidden;
}
body{
    font-size: 62.5%;
    background-color:rgb(104,205,213)
}
.top{
    color: white;
    background-color: #22292c;
}
.top ul{
    position: relative;
    margin: 0 18px;
}
.top li{
    display: inline-block;
}
.top .back{
    position: relative;
    top: 3px;
    font-size: 2.6rem;
}
.top .back img{
    margin: 1rem 0;
}
.top .back span{
    position: relative;
    top:-25px;
}
.top .middle{
    position: absolute;
    left: 50%;
    margin-left: -23px;
    top: 18px;
    font-size: 3.4rem;
}
.top li.dot{
    float: right;
    margin: 0 3px;
    position: relative;
    top: 29px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}
.content{
    padding-bottom: 10rem;
}
.content .back1{
    position: relative;
    top: 20px;
    left: 20px;
}
.content .logo{
    margin-top: 5rem;
    text-align: center;
}
.content p{
    margin: 15%;
    font-size: 3rem;
    line-height: 3rem;
    color: white;
}
.content ul{
    text-align: center;
    font-size: 0;
}
.content ul li{
    display: inline-block;
    width: 50%;
    font-size: 2.4rem;
}
.content ul li img{
    display: block;
    margin: 0 auto;
}
.content ul li span{
    font-weight: 600;
    line-height: 5rem;
}
.content ul .left span{
    color: white;
}