@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
/*bootstrap默认p元素margin: 0 0 10px; 上面的*无法覆盖*/
p {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1220px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 42.5%;
  }
}
html {
  min-width: 320px;
}
body {
  background: #fff;
  font-family: Microsoft YaHei, serif;
  font-size: 1.6rem;
}
h1 {
  font-size: 3.6rem;
  color: #fff;
}
h2 {
  padding: 2rem;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  font-weight: bold;
}
h6 {
  font-size: 1rem;
  color: #fff;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.head {
  background-color: #1d7ad9;
}
.head ul {
  margin-bottom: 0;
}
.head .left {
  line-height: 40px;
  color: white;
  font-size: 1.4rem;
}
.head .right {
  font-size: 0;
}
.head span {
  padding: 9.5px;
  color: white;
  font-size: 1.6rem;
  line-height: 40px;
}
.head span:hover {
  color: black;
  background-color: white;
}
.head .active {
  color: black;
  background-color: white;
}
.nav {
  background-color: #f9f9f9;
}
.nav .container {
  margin-bottom: 0;
  border: none;
}
.nav .navbar-header {
  float: right;
}
.nav #navbar li {
  margin-left: 2rem;
}
.nav #navbar a {
  margin: 1.5rem 0;
  padding: 1.2rem 1.6rem;
  color: black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #999;
}
.nav #navbar a:hover {
  color: white;
  background-color: #1d7ad9;
  box-shadow: none;
}
.nav #navbar .active {
  color: white;
  background-color: #1d7ad9;
  box-shadow: none;
}
