*{
    margin: 0 auto;
    padding: 0;
}
html{
    width: 100%;
}
body {
    font: normal 100% Helvetica, Arial, sans-serif;
    background-color: rgb(239,240,244);
}
@media screen and (max-width: 1220px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 992px) {
    html {
        font-size: 52.5%;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 42.5%;
    }
}
body{
    font-size: 62.5%;
    min-width: 320px;
    overflow-x: hidden;
    background-color: #eff0f4;
}
.top{
    background-color: rgb(95,192,205);
    padding: .7em;
    color: white;
    text-align: center;
    font-size: 3.2rem;
}
.input{
    margin: 3rem 0;
    width: 100%;
}
form{
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: white;
}
label{
    display: inline-block;
    width: 8%;
    padding-left: 2%;
    text-align: center;
    vertical-align: middle;
}
img{
    max-width: 100%;
}
input{
    vertical-align: top;
    width: 85%;
    border: none;
    border-left: solid rgb(239,240,244);
    height: 3em;
}
footer{
    margin-top: 10rem;
}
footer .login{
    padding: 0;
    margin-top: 3rem;
}
footer button{
    padding: 2rem 0;
    width: 100%;
    font-size: 3.6rem;
    color: white;
    border: none;
    background-color: #5fc0cd;
}
.forget{
    width: 100%;
    font-size: 3.2rem;
    margin-top: 1rem;
    text-align: right;
}
a{
    text-decoration: none;
    color: rgb(95,192,205);
}