*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    min-width: 320px;
    margin: 0 auto;
    background-color: #29bde0;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
header .top{
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 2.7rem;
    line-height: 2.7rem;
}
header .top span{
    float: left;
    color: #29b078;
    font-size: 1.2rem;
    display: inline-block;
    margin-left:10%;
}
header .top ul{
    margin-right: 10%;
    float: right;
}
header .top li{
    margin-left: 22px;
    display: inline-block;
    float: left;
}
header .top ul .WeChat{
    margin: 15%;
    width: 25px;
    height: 24px;
    background: url("images/spritesheet.png")  -324px -118px;
}
header .top ul .QQ{
    margin: 15%;
    width: 25px;
    height: 24px;
    background: url("images/spritesheet.png") -5px -118px;
}
header .top ul .Weibo{
    margin: 15%;
    width: 25px;
    height: 24px;
    background: url("images/spritesheet.png") -289px -118px;
}
header nav{
    width: 100%;
    overflow: hidden;
    background-color: #29b078;
}
header nav ul{
    width: 40%;
    float: right;
    font-size: 1.6rem;
}
header nav ul li{
    padding: 5% 5%;
    display: inline-block;
    color: white;
    text-align: center;
    border-bottom: 3px solid #29b078;
}
header nav ul li:hover{
    border-bottom: 3px solid white;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
/*轮播图开始*/
.wrap {
    width: 100%;
    min-height:390px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.carousel {
    position: absolute;
    transition: all 0.5s ease-in 0s;
}
img {
    width: 100%;
}
.carousel div {
    float: left;
    text-align: center;
}
.button .pre{
    position: absolute;
    top: 44%;
    left: 10%;
    width: 27px;
    height: 46px;
    background: url("images/spritesheet.png") no-repeat -382px -5px;
}
.button .next{
    position: absolute;
    top: 44%;
    right: 10%;
    width: 27px;
    height: 46px;
    background: url("images/spritesheet.png") no-repeat  -359px -61px;
}
/*轮播图结束*/
/*大图标*/
.main{
    padding: 0 10%;
    background-color: #fafafa;
}
.main .big-icon{
    padding-top: 10rem;
}
.main .big-icon .left{
    text-align: center;
    width: 70%;
    display: inline-block;
}
.main .big-icon .left div{
    width: 30%;
    display: inline-block;
}
.main .big-icon .left b{
    display: block;
}
.main .big-icon .left .efficient .icon-efficient{
    width: 43px;
    height: 62px;
    background:url("images/spritesheet.png") no-repeat -516px -156px;
}
.main .big-icon .left .specification .icon-specification{
    width: 60px;
    height: 48px;
    background:url("images/spritesheet.png") no-repeat -289px -5px;
}
.main .big-icon .left .contacts .icon-contacts{
    width: 52px;
    height: 55px;
    background:url("images/spritesheet.png") no-repeat -5px -5px;
}
.main .big-icon .right{
    width: 25%;
    display: inline-block;
}
.main .big-icon .right .people{
    display: inline-block;
    width: 13px;
    height: 13px;
    background:url("images/spritesheet.png") no-repeat -359px -5px;
}
.main .big-icon .right span{
    display: inline-block;
}