header.navbar-default {
  text-align: center;
  height: 50px;
  background-color: #29bde0;
}
header.navbar-default .navbar-toggle {
  float: left;
  border: none;
}
header.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  .navbar-toggle {
    display: block;
  }
}
ul.lastOne {
  margin: 0 5%;
  height: 7rem;
  line-height: 7rem;
  background-color: white;
  font-size: 3.4rem;
  color: #9a9a9a;
  border: 1px solid #c9c9c9;
}
ul.lastOne li {
  position: relative;
}
ul.lastOne img {
  position: absolute;
  max-width: 100%;
  right: 1rem;
  top: 1.8rem;
}
