*{
    margin: 0 auto;
    padding: 0 auto;
}
@media screen and (max-width: 1220px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 992px) {
    html {
        font-size: 52.5%;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 42.5%;
    }
}
html {
    min-width: 320px;
}
body{
}
#top{
    overflow: hidden;/*当背景不能填充满整个区域*/
    background:rgb(95,192,205);
    padding: 3% 0;
    text-align: center;
}
#top .back{
    padding-left: 5%;
    width: 5%;
    float: left;
}
#top .head{
    font-size: 3.6rem;
    color: white;
}
#content{
    font-size: 3.2rem;
}
#content .background{
    background: url("images/icon-background.png");
    width: 100%;
    padding: 10% 0;
    background-size: cover;
    overflow: hidden;
}
#content .background .head{
    margin-left: 5%;
    width: 25%;
    border-radius: 50%;
    float: left;
}
#content .background .introduction{
    float: left;
    padding-left: 5%;
    padding-top: 4%;
    color: white;
}
#content .background .introduction .name{
    font-size: 3.6rem;
}
#content .background .introduction .old{
    font-size: 2.8rem
}
#content .background .introduction .address{
    font-size: 2.4rem
}
#content .underline{
    border-bottom: 1px solid #e1e5e7;
}
#content .column{
    margin: 3% 5%;
    border-left: 4px solid rgb(95,192,205);
}
#content .column p{
    margin:0 3%;
    font-size: 3.2rem;
    font-weight: 600;
}
ul{
    list-style: none;
    border-bottom: 1px solid #e1e5e7;
}
#content .list li{
    padding: 5%;
    border-bottom: 1px solid #e1e5e7;
}
#content .list .property{
    margin-right: 5%;
    padding-right: 5%;
    border-right: 1px solid #e1e5e7;
}
#content .list .property-one{
    margin-right: 5%;
    padding-right: 5%;
    border-right: 1px solid #e1e5e7;
    color:  #999;
}
#content .list .price{
    color: red;
}
#content .list .special-two{
    border-bottom: none;
}
#content .list .special{
    padding-left: 0;
    margin-right: 5%;
    padding-right: 5%;
    border-right: 1px solid #e1e5e7;
    color:  #999;
}
#content .list .special-one{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
#footer{
    width: 100%;
    overflow: hidden;
    font-size: 0;
}
#footer div{
    display: inline-block;
    width: 50%;
    text-align: center;
}
#footer .message button{
    margin: 4rem 0 2rem 0;
    padding: 1rem 0;
    background-color: white;
    border: 1px solid rgb(95,192,205);
    width: 90%;
    font-size: 3.2rem;
    text-align: center;
    color: rgb(95,192,205);
    border-radius: 10px;
}
#footer .contact button{

    padding: 1rem 0;
    background-color: rgb(95,192,205);
    border: 1px solid rgb(95,192,205);
    width: 90%;
    font-size: 3.2rem;
    text-align: center;
    color: white;
    border-radius: 10px;
}