@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
/*bootstrap默认p元素margin: 0 0 10px; 上面的*无法覆盖*/
p {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 42.5%;
  }
}
html {
  min-width: 320px;
}
body {
  background: #fff;
  font-family: Microsoft YaHei, serif;
  font-size: 1.6rem;
}
h1 {
  font-size: 3.6rem;
  color: #fff;
}
h2 {
  padding: 2rem;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  font-weight: bold;
}
h6 {
  font-size: 1rem;
  color: #fff;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.head {
  background-color: #1d7ad9;
}
.head ul {
  margin-bottom: 0;
}
.head .left {
  line-height: 40px;
  color: white;
  font-size: 1.4rem;
}
.head .right {
  font-size: 0;
}
.head span {
  padding: 9.5px;
  color: white;
  font-size: 1.6rem;
  line-height: 40px;
}
.head span:hover {
  color: black;
  background-color: white;
}
.head .active {
  color: black;
  background-color: white;
}
.nav {
  background-color: #f9f9f9;
}
.nav .container {
  margin-bottom: 0;
  border: none;
}
.nav .navbar-header {
  float: right;
}
.nav #navbar li {
  margin-left: 2rem;
}
.nav #navbar a {
  margin: 1.5rem 0;
  padding: 1.2rem 1.6rem;
  color: black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #999;
}
.nav #navbar a:hover {
  color: white;
  background-color: #1d7ad9;
  box-shadow: none;
}
.nav #navbar .active {
  color: white;
  background-color: #1d7ad9;
  box-shadow: none;
}
.content-top {
  margin: 3rem 0;
  color: #ccc;
}
.content-top ul {
  margin-right: 0;
  margin-left: 0;
  font-size: 0;
}
.content-top li {
  display: inline-block;
  width: 10rem;
  border-top: 5px solid #ccc;
}
.content-top li p {
  color: white;
}
.content-top .active {
  border-top: 5px solid #ff7f02;
  color: #ff7f02;
}
.content-top .active p {
  background-color: #ff7f02;
}
.content-top p {
  position: relative;
  top: -12px;
  left: 50px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 1.4rem;
  background-color: #ccc;
}
@media screen and (max-width: 510px) {
  .content-top ul {
    width: 100%;
  }
  .content-top ul li {
    width: 25%;
  }
  .content-top p {
    position: relative;
    left: 50%;
    margin-left: -10px;
  }
}
.icon-jb {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  background-color: #f4f4f4;
}
.content-main h3 {
  padding-left: 6px;
  border-left: 5px solid #1d7ad9;
}
.box {
  margin: 0;
}
.box .box-icon {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  background-color: #f4f4f4;
}
.box .icon {
  background-image: url(images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 19px;
  height: 15px;
  background-position: -62px -5px;
}
.box-1 {
  margin: 0;
  font-size: 1.8rem;
  background-color: #fbfcff;
}
.box-1 li {
  padding: 2rem 1.5rem;
}
.box-1 .check {
  position: relative;
  top: 5px;
}
.box-1 input {
  opacity: 0;
}
.box-1 input[type=radio] + span {
  /* box-sizing: border-box; */
  position: relative;
  top: 3px;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: -1rem;
  border: solid 1px black;
  border-radius: .7rem;
}
.box-1 input[type=radio]:checked + span {
  position: relative;
  top: 3px;
  box-sizing: border-box;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -1rem;
  border: solid .6rem #1277dc;
  border-radius: .8rem;
}
.box-1 .caret {
  height: 28px;
  width: 24px;
  font-size: 1.4rem;
  color: #a9a9a9;
  border: solid 1px #e8e8e8;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(images/list.png) 90% center no-repeat;
}
.content-ruler .ruler {
  margin: 0;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  background-color: #f4f4f4;
}
.content-ruler .icon-ruler {
  position: relative;
  top: 4px;
  background-image: url(images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 22px;
  height: 20px;
  background-position: -30px -5px;
}
.content-ruler .outside {
  margin: 0;
  font-size: 1.8rem;
  background-color: #fbfcff;
}
.content-ruler .outside li {
  margin: 1rem 0;
}
.content-ruler .outside .box {
  width: 6rem;
}
.content-ruler .outside .label1 {
  position: relative;
  top: 10px;
  font-weight: 400;
}
.content-ruler .outside .outside1 input {
  opacity: 0;
}
.content-ruler .outside .outside1 input[type=radio] + span {
  /* box-sizing: border-box; */
  position: relative;
  top: 3px;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: -1rem;
  border: solid 1px black;
  border-radius: .7rem;
}
.content-ruler .outside .outside1 input[type=radio]:checked + span {
  position: relative;
  top: 3px;
  box-sizing: border-box;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -1rem;
  border: solid .6rem #1277dc;
  border-radius: .8rem;
}
.content-ruler .inside {
  margin: 0;
  font-size: 1.8rem;
  background-color: #fbfcff;
}
.content-ruler .inside li {
  margin: 1rem 0;
}
.content-ruler .inside .box {
  width: 6rem;
}
.content-ruler .inside .label1 {
  position: relative;
  top: 10px;
  font-weight: 400;
}
.content-ruler .inside .check {
  top: -3rem;
}
.content-ruler .inside .check .caret {
  height: 28px;
  width: 24px;
  font-size: 1.4rem;
  color: #a9a9a9;
  border: solid 1px #e8e8e8;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(images/list.png) 90% center no-repeat;
}
.content-ruler .inside .inside1 input {
  opacity: 0;
}
.content-ruler .inside .inside1 input[type=radio] + span {
  /* box-sizing: border-box; */
  position: relative;
  top: 3px;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: -1rem;
  border: solid 1px black;
  border-radius: .7rem;
}
.content-ruler .inside .inside1 input[type=radio]:checked + span {
  position: relative;
  top: 3px;
  box-sizing: border-box;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -1rem;
  border: solid .6rem #1277dc;
  border-radius: .8rem;
}
.content-scissors .scissors {
  margin: 0;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  background-color: #f4f4f4;
}
.content-scissors .icon-scissors {
  position: relative;
  top: 4px;
  background-image: url(images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 20px;
  background-position: -5px -5px;
}
.content-scissors .scissors1 {
  margin: 0;
  padding: 3rem 0;
  background-color: #fbfcff;
}
.content-scissors .scissors1 .check {
  top: .6rem;
}
.content-scissors .scissors1 .check .caret {
  height: 28px;
  width: 24px;
  font-size: 1.4rem;
  color: #a9a9a9;
  border: solid 1px #e8e8e8;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(images/list.png) 90% center no-repeat;
}
.content-scissors .scissors1 input {
  opacity: 0;
}
.content-scissors .scissors1 input[type=radio] + span {
  /* box-sizing: border-box; */
  position: relative;
  top: 3px;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: -1rem;
  border: solid 1px black;
  border-radius: .7rem;
}
.content-scissors .scissors1 input[type=radio]:checked + span {
  position: relative;
  top: 3px;
  box-sizing: border-box;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -1rem;
  border: solid .6rem #1277dc;
  border-radius: .8rem;
}
.content-scissors .next {
  padding: 5rem 0;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-top: none;
}
.content-scissors .next button {
  width: 10rem;
  border: none;
  color: white;
  background-color: #e15053;
}
.foot {
  margin-top: 3rem;
  background-color: #f9f9f9;
}
.foot .container {
  padding: 4rem 0;
}
.foot .container .row {
  margin: 0;
}
.foot span {
  color: #999;
}
.foot .left {
  margin-bottom: 3rem;
}
.foot .center {
  font-size: 1.4rem;
}
.foot .center li {
  margin-bottom: 2rem;
}
.foot .center li a {
  margin-right: 2rem;
}
.foot .center li span:hover {
  color: #1d7ad9;
}
.foot .center li .one span {
  color: #1d7ad9;
}
.foot .right {
  font-size: 1.4rem;
}
.foot .right li {
  display: inline-block;
  vertical-align: top;
}
.foot .right span {
  display: block;
  margin-bottom: 1rem;
}
.foot .pic {
  background-image: url(images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 92px;
  height: 92px;
  background-position: -91px -5px;
}
footer {
  padding: 1rem;
  font-size: 1.4rem;
  color: white;
  background-color: #1d7ad9;
}
